img{
    border-style: solid;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

@media screen and (max-width: 600px){
    .flag{
        height: 150px;
    }
}

button{
    font-size: large;
    margin: 5px;
}

.game{
    width: 100%;
    text-align: center;
}

.correct{
    background-color: green;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}
.correct p{
    padding-top: 5px;
    color: white;
    font-size: large;
}

.wrong{
    background-color: red;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}

.wrong p{
    padding-top: 5px;
    color: white;
    font-size: large;
}

.statsRow, .statsRow p{
    margin: 5px;
    display: inline-flex;
    text-align: center;
}

.history{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}